
  <app-common-layout *ngIf="commonLayout"></app-common-layout>

  <app-user-layout *ngIf="userLayout"></app-user-layout>

<!--<app-common-layout></app-common-layout>-->
<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-md-12">

        <div class="row pt-5 pb-5 bg-faint-blue">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="display-3 super-bold big-text-shadow">THE BIG <br />PICTURE</h1>
                            <p class="semi-bold">
                                Elder financial abuse is extremely prevalent in our society today.
                            </p>
                        </div>
                        <div class="col-md-8 mt-3">
                            <p>
                                Allianz study of 2014 says that 5% of seniors report having lost money to scams, sustaining average losses of $30,000. 
                                This equates to <mark>$69 billion in total losses for seniors alive</mark> in 2014 due to financial abuse. 
                            </p>

                            <br />

                            <p>The exploitations can take many forms, including - </p>
                            <ul>
                                <li>coercion to update financial documents</li>
                                <li>forgery of signatures</li>
                                <li>fraudulently obtaining documents</li>
                                <li>not repaying a loan</li>
                                <li>outright theft</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="display-3 super-bold big-text-shadow">SERIOUS <br />ROOT</h1>

                            <p class="semi-bold">
                                55% of all elder financial abuse is committed by family members, caretakers and friends.
                            </p>
                        </div>
                        <div class="col-md-8 mt-3">
                            <p>
                                In a 2015 study, True Link Financial, a financial services firm that serves seniors, found that 
                                <br />
                                <mark>37% of seniors are affected by abuse over any given five-year period.</mark>
                            </p>

                            <p>
                                The seniors who experienced fraud -
                            </p>
                            <ul>
                                <li>1.8% lost their home</li>
                                <li>6.7% skipped medical care</li>
                                <li>4.2% reduced their nutritional intake due to skipping meals</li>
                            </ul>

                            <p class="text-danger semi-bold">
                                Furthermore, it’s suspected that the number of cases of elder abuse is vastly underreported since perpetrators are primarily family members, close friends, or caretakers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4 super-bold big-text-shadow">PREVENTIVE MEASURES</h1>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="semi-bold">
                                        Like many areas of financial planning, proper preparation is 
                                        imperative for preventing these unfortunate situations. 
                                    </p>

                                    <p class="semi-bold text-blue">
                                        Crafting a strategy years before a family member becomes mentally or physically impaired is the best way to prevent this abuse.
                                    </p>

                                    <p class="semi-bold text-blue">
                                        Checklist of strategies to discuss with trusted advisors and family members to lay the groundwork for a secure financial future for seniors in your family.
                                    </p>

                                    <br />

                                </div>
                                <div class="col-md-8">
                                    <h4 class="bold">1. Automate Bills and Deposits</h4>
                                    <p class="type-6 pl-3">
                                        Paying bills can be a cumbersome process. 
                                        It’s even more difficult for the elderly, who can be easily confused. 
                                    </p>

                                    <p class="type-6 pl-3">
                                        Automating a senior’s bill payments with direct debits from their checking account 
                                        will help them stay organized, while also minimizing the opportunity to get drawn into a financial scam. 
                                        If bills have been automated, it may help prevent the senior from getting 
                                        duped into sending out money to a fraudster. 
                                    </p>

                                    <br />

                                    <h4 class="bold">2.  Utilize credit cards in lieu of cash</h4>
                                    <p class="type-6 pl-3">
                                        Once cash is sent to another party, it is very difficult to track or get the money back.
                                    </p>
                                    <p class="type-6 pl-3">
                                        Making use of credit cards for most expenses has the benefits of protecting against -
                                    </p>
                                    <ul class="type-6">
                                        <li>identity theft,</li> 
                                        <li>giving a third party the opportunity to review past transactions,</li> 
                                        <li>and working with the credit card company</li>
                                    </ul>
                                    <p class="type-6 pl-3">
                                        to be reimbursed for any duplicitous charges. 
                                    </p>

                                    <br />

                                    <h4 class="bold">3. Appoint trusted individuals to oversee finances</h4>
                                    <p class="type-6 pl-3">
                                        A common approach used by many families is to have a trusted child (or children) help mom or dad with their finances. 
                                        This typically involves setting up a Power of Attorney (POA), 
                                        which is the authority to act for another person in legal or financial matters.
                                    </p>

                                    <p class="type-6 pl-3">
                                        This must be set up while the senior still has capacity to authorize, 
                                        so it’s important that an individual set this up early, 
                                        before any potential significant mental decline. 
                                        Once established, it’s advisable to have duplicate financial statements and records be sent to their POA. 
                                        That way, if any financial shenanigans do take place, it’s likelier to be noticed and resolved in a timely manner. 
                                    </p>

                                    <br />

                                    <h4 class="bold">4. Create a trust</h4>
                                    <p class="type-6 pl-3">
                                        A trust can be a wonderful way to protect and manage one’s assets. 
                                        In a revocable trust, the senior can appoint multiple trustees 
                                        to oversee the management of their money. 
                                        However, since the elderly can still withdraw on the account, 
                                        they are leaving themselves open to financial predators. 
                                    </p>

                                    <p class="type-6 pl-3">
                                        Another, more secure, option is an irrevocable trust. 
                                        An irrevocable trust prevents the senior from easily taking out money, 
                                        or amending the trust, without consent from the trustee. 
                                        This type of planning provides more protection, but may be met with hesitancy 
                                        since it requires the senior to give up control. 
                                        However, it is worth seriously considering for older individuals to help safeguard their assets.
                                    </p>

                                    <br />

                                    <h4 class="bold">5. Appoint a trust protector</h4>
                                    <p class="type-6 pl-3">
                                        A trust protector is someone who is appointed to watch over a trust and ensures 
                                        that it is not adversely impacted by unscrupulous trustees. 
                                        In this role, they can replace trustees, resolve disputes between all trustees 
                                        and beneficiaries, change distributions to beneficiaries, and veto investment decisions. 
                                        An attorney can help you ensure that the trust protector does not have too much control, 
                                        but just enough to protect the senior.  
                                    </p>

                                    <p class="type-6 pl-3">
                                        Anyone can serve as a trust protector. 
                                        However, it’s advisable to appoint an independent third party, rather than a family member, 
                                        so they have no ulterior motivation other than ensuring that everything is being executed appropriately. 
                                        The power of the trust protector should be specified in the trust document. 
                                        The more specific the wording can be made, 
                                        the more likely the senior’s wishes will be carried out accordingly. 
                                    </p>

                                    <br />

                                    <h4 class="bold">6. Appoint a corporate trustee</h4>
                                    <p class="type-6 pl-3">
                                        While many individuals will name a family member, friend, or longtime CPA to be a trustee. 
                                        It is also worth considering a corporate trustee, such as a bank or investment firm, to serve as well.
                                    </p>

                                    <p class="type-6 pl-3">
                                        A corporate trustee can help in several ways that a loved one cannot. 
                                        They have deep experience in handling situations just like yours. 
                                        They are completely objective. Even if your family gets along like the Brady Bunch, 
                                        strong emotions tend to arise when it comes to money or caring for loved ones. 
                                        There is also the benefit of continuity. 
                                        In the event that the other human trustees get sick or die before the senior, 
                                        the corporate trustee will be able to continue to carry out their duties. 
                                    </p>

                                    <br />

                                    <h4 class="bold">6. Guardianship</h4>
                                    <p class="type-6 pl-3">
                                        The concept of guardianship is when a court appoints an individual to care for an elderly person who is no longer able to care for himself. 
                                        By definition, the senior is giving up some of his rights, including, but not limited to, managing his own personal finances. 
                                        The appointed guardian will fulfill these and other responsibilities.
                                    </p>

                                    <p class="type-6 pl-3">
                                        Guardianships are generally most appropriate when the senior’s health is declining, 
                                        but he still has the capacity to create a trust. 
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row pt-2 pb-5">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                Ultimately, the best solution to protect seniors from the very real possibility of finance abuse is implementing a system of checks and balances. 
                                To accomplish that, it’s important to consider utilizing several of the aforementioned planning strategies as part of an overall retirement plan. 
                                Should any suspicious activity take place, the strategies would also help it being noticed and addressed in a timely manner. 
                                Taking a proactive approach will undoubtedly decrease the likelihood of financial exploitation of our seniors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

