
<section class="showcase">
  <header>
    <h1 class="logo">Investopia .</h1>
  </header>
  <video src="assets/start.mp4" muted loop autoplay></video>
  <div class="overlay"></div>
  <div class="text">
    <h2>Never Stop </h2>
    <h3>INVESTING</h3>
    <p>
      It's not whether you're right or wrong that's important,
      but how much money you make when you're right and
      how much you lose when you're wrong.
    </p>    
    <a routerLink="/home" href="#">Let's Invest</a>
  </div>
  <ul class="social">
    <li><a href="https://www.facebook.com"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
    <li><a href="https://www.twitter.com"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="https://www.instagram.com"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
  </ul>
</section>

